body {
	background-color: lightgrey;
	font-style: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
}

h1 {
	position: fixed;
	left: 10px;
	top: 2px;
}

#shop {
	position: fixed;
	top: 20px;
	left: 175px;
}
#potion {
	position: fixed;
	top: 40px;
	left: 175px;
}
#potion_buy {
	position: fixed;
	top: 60px;
	left: 175px;
}
#special {
	position: fixed;
	top: 80px;
	left: 175px;
}
#special_buy {
	position: fixed;
	top: 100px;
	left: 175px;
}
#stats {
	position: fixed;
	top: 20px;
	left: 550px;
	white-space: pre-wrap;
}
#gold{
	position: fixed;
	top: 120px;
	left: 175px;
}
#gold_amt{
	position: fixed;
	top: 120px;
	left: 215px;
}
#char_select1 {
	position: fixed;
	top: 20px;
	left: 10px;
	height: 185px;
	text-align: center;
}
#char_select2 {
	position: fixed;
	top: 20px;
	left: 145px;
	text-align: center;
}
#char_select3 {
	position: fixed;
	top: 20px;
	left: 315px;
	text-align: center;
}
#char_select4 {
	position: fixed;
	top: 20px;
	left: 430px;
	text-align: center;
}
#char {
	position: fixed;
	width: 100px;
	top: 210px;
	left: 10px;
}
#target1 {
	position: fixed;
	text-align: center;
	top: 230px;
}
#target2 {
	position: fixed;
	margin-right: 10px;
	text-align: center;
	top: 230px;
}
#target3 {
	position: fixed;
	margin-right: 10px;
	text-align: center;
	top: 230px;
}
#enemies {
	position: fixed;
	width: 200px;
	top: 430px;
	left: 10px;
}
#command {
	position: fixed;
	width: 250px;
	top: 450px;
	left: 10px;
}
#fight {
	position: fixed;
	text-align: center;
	top: 475px;
	left: 10px;
}
#text1 {
	position: fixed;
	top: 675px;
	left: 10px;
}
#text2 {
	position: fixed;
	top: 695px;
	left: 10px;
}